// Checkboxes
.composer {
  input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    display: inline;
    margin-right: 2em;

    & + label {
      margin-bottom: 0.7em;
      padding-left: 2.5em;
      padding-bottom: 0.7em;
      padding-top: 0.3em;
      background: url(#{$composer-images-path}/not-checked.svg) no-repeat;
      cursor: pointer;
      line-height: 30px;
    }

    &:focus + label {
      outline: none;
      padding-bottom: 0.35em;
      padding-right: 0.2em;
    }

    &:checked + label {
      background: url(#{$composer-images-path}/checked.svg) no-repeat;
    }
  }
}
