.composer {
  .indexnav {
    height: 63px;
    background-color: $second-highlight;
    z-index: 10000;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.20);

    .navcontent {
      font-size: 0.9rem;
      display: flex;
      height: 100%;

      .navlogo {
        max-width: 20rem;
        min-width: 19rem;
        background-color: $first-highlight;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        align-items: center;
      }

      .links {
        display: flex;
        flex: 1;
        margin-left: 2rem;

        .action {
          margin-left: 1rem;
          margin-right: 1rem;
          color: $white;
          transition: none;
          border-bottom: 3px solid transparent;

          &:hover {
            border-radius: 0px;
            border-bottom: 3px solid $white;
          }

          &.active {
            border: none;
            border-bottom: 3px solid $white;
            background-color: transparent;
            color: $white;
            min-width: 0;
            padding: 0;
            border-radius: 0px;
          }
        }
      }
    }

    .icon-links {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 2rem;

      a {
        display: flex;
        align-items: center;
        height: 63px;
        color: $white;
        text-decoration: none;

        svg {
          margin-right: $space-small;
        }

        &:hover {
          text-decoration: underline;
        }
      }

      .action {
        display: flex;
        margin-left: 1rem;
        margin-right: 1rem;
        fill: $white;
        //should use 100% but safari doesn't listen
        height: 63px;
        border-bottom: 3px solid transparent;

        &:hover {
          border-radius: 0px;
          border-bottom: 3px solid $white;
          transition: none;
        }
        &.active {
          border-bottom: 3px solid white;
          border-radius: 0px;
        }
        svg.ibm-icon {
          align-self: center;
          fill: $white;
        }
      }
    }
  }
}
