// Textareas
.composer {
  textarea {
    @extend %input;
    resize: none;
    width: 100%;
  }

  form textarea {
    border-bottom: 2px solid transparent;
    height: auto;
    margin-bottom: 0;

    &.ng-dirty.invalid {
      border-bottom: 2px solid $error-colour-1;
    }

  }
}
