@import '../../../assets/styles/base/_colors.scss';
@import '../../../assets/styles/base/_variables.scss';

busy {
    .modal-body {
        display: flex;
        flex-direction: row;

        .ibm-spinner-indeterminate {
            padding: 0;
        }

        .busy-details {
            position: absolute;
            left: 275 + $space-medium; // the size of an ID card + padding
            padding: 0 $space-medium $space-medium $space-medium;

            .busy-title {
                display: flex;
                align-items: stretch;
                justify-content: space-between;
                padding: 0;
                margin-bottom: $space-medium;

                svg.ibm-icon {
                    width: 32px;
                    height: 32px;
                }
            }
        }

        .contents {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: $space-medium;
    
            span + span {
                margin-left: $space-xsmall;
            }
    
            .busy-text {
                font-size: 14px;
            }
        }
    }
}
