@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

.editor {
  padding: $space-medium;
  .container {
    display: flex;

    .files {
      flex: 1;
    }

    .add-file {
      margin: $space-medium 0;
      padding: $space-smedium 0;
      border-top: 1px solid $fourth-highlight;
      border-bottom: 1px solid $fourth-highlight;
    }
  }

  .import-button {
    margin-bottom: $space-smedium;
  }
  .business-network-details{
    margin: $space-medium 0;
    padding: $space-smedium 0;
  }

  .business-network-version{
    margin-right: $space-smedium;
    color:$secondary-text;
  }
  .margin-right{
    margin-right: $space-smedium;
  }
  .edit-package-text{
    font-style: italic;
  }
}
