  @import '../../../assets/styles/base/colors';
@import '../../../assets/styles/base/variables';

editor-file {
  .business-network-details {
    display: flex;
    height: 50px;

    .business-network-version {
      margin-right: $space-smedium;
      color: $secondary-text;
    }

    .margin-right {
      margin-right: $space-smedium;
    }

    .edit-package-text {
      font-style: italic;
    }

    .edit-label {
      line-height: 2.5rem;
      font-weight: bold;
    }
  }
}

.scrollbar-padding {
  // emulating the ".cm-s-default.CodeMirror" styling to mimic the editor having padding around the scroll bar
  border-radius: 4px;
  background: #262A35;
  color: #FFFFFF;
  padding: $space-medium $space-medium $space-medium 0px;
  .CodeMirror-simplescroll-vertical {
    margin: 0px;
  }
  .CodeMirror-lines {
    margin-top: 0px;
  }
}

.CodeMirror {
  font-family: Source Code Pro;
  height: calc(100vh - 320px);
}

.ps.ps--active-x>.ps__scrollbar-x-rail,
.ps.ps--active-y>.ps__scrollbar-y-rail{
    opacity: 0.6;
}
