#api_info {
    display: none;
}

@media screen {
    .swagger-section #header {
        padding:initial;
        height:63px;
        align-items: center;
        display: flex;
    }

    body #header {
        background-color: #5068c2 !important;
    }

    .swagger-section #header #logo {
        font-family: 'Open Sans', 'Helvetica Neue for IBM', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 15px;
        font-weight:unset;
    }

    .swagger-section .swagger-ui-wrap {
        max-width: unset;
        margin-left: unset;
        margin-right: unset;
    }

    .swagger-section #message-bar {
        min-height:20px;
    }
}
