@import '../../../assets/styles/base/colors';
@import '../../../assets/styles/base/variables';

import-modal {
  .import {
    width: 700px;
    height: 525px;

    display: flex;
    flex-direction: column;

    section {
      font-size: 0.9em;

      file-importer {
        margin-top: $space-medium;
      }

      span {
        color: $secondary-text;
      }

      .chosen-file {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: $third-highlight;
        padding: $space-medium;

        .title {
          font-weight: bold;
        }

        .file-info {
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid $fifth-highlight;
          padding-bottom: $space-medium;
          align-items: center;

          svg {
            fill: $first-highlight;
            width: 76px;
            height: 76px;
            margin-right: $space-medium;
          }

          .file-title {
            display: flex;
            flex-direction: column;
            justify-content: center;

            span {
              color: $primary-text;
              font-style: italic;
            }

            .broken-archive {
              span {
                color: $first-warning;
                font-weight: bold;
              }
            }
          }
        }

        .file-content {
          margin-top: $space-medium;
          flex: 1;
          display: flex;
          justify-content: space-between;

          .network-part {
            margin-bottom: $space-smedium;
          }
        }
      }

      .github-spinner {
        height: 200px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .circle-path {
          stroke: $first-highlight;
        }
      }

      .sample-network-list-container {
        max-height: 200px;
        overflow-y: scroll;
        margin-top: $space-medium;
      }

      .sample-network-list {
        background-color: $third-highlight;
        padding: $space-medium;
        &:nth-child(even) {
          background-color: $white;
        }

        .description {
          font-style: italic;
          padding-left: 2em;
        }

        label.radio-label {
          font-weight: bold;

          &::before {
            top: 8px;
          }

          &::after {
            top: 13px;
          }
        }
      }
    }

    footer {
      .circle-path {
        stroke: $white;
      }

      width: 100%;
    }
  }

  .ps.ps--active-x>.ps__scrollbar-x-rail,
  .ps.ps--active-y>.ps__scrollbar-y-rail{
      opacity: 0.6;
  }
}
