@import '../../../assets/styles/base/_colors.scss';
@import '../../../assets/styles/base/_variables.scss';

file-importer {
    display: flex;
    flex-direction: column;
    border: 2px dashed $first-highlight;
    border-radius: 12px;
    margin-bottom: 1em;
    vertical-align: middle;
    color: $primary-text;
    font-size: .9em;
    overflow: hidden;
    position: relative;
    padding: $space-medium;
    justify-content: center;
    align-items: center;
    height: 350px;

    svg {
      &.ibm-icon {
      width: 200px;
      height: 250px;
      margin-right: 0;
      }
    }

    .underline {
        border-bottom: 1px solid $primary-text;
        padding-bottom: 0px;
        font-weight: 600;
    }

    .centre-text {
        text-align: center;
    }
    .max-file-size {
        color: $secondary-text;
        font-style: italic;
        font-weight: 400;
    }

    @include transition-360(all);

    input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        cursor: pointer;
    }

    &:hover,
    &:focus {
        border: 2px dashed $first-highlight;
        background-color: rgba($keyline-highlight, 0.5);
    }

    &.expandFile {
        flex: 1;
        height: 800px;
        padding: $space-medium;
        border: 2px dashed $first-highlight;
        background-color: rgba($first-highlight, 0.1);

        svg {
            width: 200px;
            height: 250px;
            margin-right: 0;
        }

        .centre-text {
            text-align: center;
        }
        .max-file-size {
            color: $secondary-text;
            font-style: italic;
            font-weight: 400;
        }
    }
}
