@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

identity {
    display: flex;
    width: 100%;

    .main-view {
        overflow-y: auto;

        .identity-title {
            display: flex;
            padding: $space-smedium;

            & > * {
                font-weight: bold;
            }
        }

        .id {
            flex-basis: 48%;
        }

        .identity {
            background-color: $white;
            box-shadow: 0 2px 5px -1px $fifth-highlight;
            margin-bottom: $space-medium;
            display: flex;
            padding: 8px;
            height:45px;
            cursor: pointer;

            &:hover {
                .actions {
                    display: block;
                }
            }

            .actions {
                display: none;
            }
        }

        i {
            color: $secondary-text;
        }
    }

    // TODO This should be a common style (see also .registry button)
    button {
        box-shadow: 0 2px 5px -1px $fifth-highlight;

        &.secondary {
            border-color: $white;
        }
    }
}


