@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

identity {
    display: flex;
    width: 100%;

    .main-view {
        overflow-y: auto;
        display: flex;
        flex-direction: column;

        .selected-border {
            width: $border-width-large;
            margin-right: $space-medium;
        }

        .identity-title {
            display: flex;
            padding: $space-smedium;
            padding-left: 0px;
            padding-right: $space-medium;
            margin-top: $space-medium;
            & > * {
                font-weight: bold;
            }
        }

        .id {
            flex-basis: 48%;
        }

        .cell-24 {
            flex-basis: 24%;
        }

        .identity {
            background-color: $white;
            box-shadow: 0 2px 5px -1px $fifth-highlight;
            margin-bottom: $space-smedium;
            display: flex;
            padding: 0px;
            padding-right: $space-medium;
            height: 50px;
            line-height: 50px;
            cursor: default;
            overflow: hidden;
            border-radius: $border-width-medium;

            &:hover {
                .actions {
                    display: block;
                }
            }

            .selected-border--selected {
                background-color: $second-highlight;
            }

            .actions {
                display: none;
                text-align: right;
            }
        }

        i {
            color: $primary-text;
        }
    }

    // TODO This should be a common style (see also .registry button)
    button {
        box-shadow: 0 2px 5px -1px $fifth-highlight;

        &.secondary {
            border-color: $white;
        }
    }
}
