[submodule "packages/composer-runtime-hlfv1/vendor/gopkg.in/olebedev/go-duktape.v3"]
	path = packages/composer-runtime-hlfv1/vendor/gopkg.in/olebedev/go-duktape.v3
	url = https://gopkg.in/olebedev/go-duktape.v3.git
