@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';
@import '../resource/resource.component.scss';

transaction-modal {

  // Take main styling from resource.component
  @extend resource-modal;

 .transaction-select{
    display: flex;
    color:$secondary-text;
    align-content: flex-start;

    .transaction-select-item{
      order: 1;
      margin: auto 1rem;
    }
  }
}
