@import '../../../assets/styles/base/_colors.scss';
@import '../../../assets/styles/base/_variables.scss';

body.drawer-open {
    overflow: hidden;
}

drawer {
    bottom: 0;
    outline: none;
    box-shadow: -2px 0 5px -1px $black;
    overflow: hidden;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(575px);
    width: 575px;
    z-index: 9999;

    .drawer-container {
        background: $white;
        height: 100%;
        position: absolute;
        width: 575px;
        z-index: 9999;
    }
    .drawer-content {
        height: 100%;
    }
}
