@import '../../../assets/styles/base/colors';
@import '../../../assets/styles/base/variables';

add-identity-modal {
  .add-identity {
    p {
      color: $secondary-text;
    }

    footer {
      .circle-path {
        stroke: $white;
      }

      width: 100%;
    }
  }
}
