/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

/*
* Remove text-shadow in selection highlight: h5bp.com/i
* These selection rule sets have to be separate.
* Customize the background color to match your design.
*/

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
* A better looking default horizontal rule
*/

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
* Remove the gap between images, videos, audio and canvas and the bottom of
* their containers: h5bp.com/i/440
*/

audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
* Remove default fieldset styles.
*/

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
* Allow only vertical resizing of textareas.
*/

textarea {
  resize: vertical;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

body,
html {
  height: 100%;
}

html {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

h2, h3, h4, h5, h6 {
  margin-top: 2em;
}

h5 ,h6 {
  margin-bottom: 0;
}

p, pre {
  margin-bottom: 1.3em;
}

a {
  cursor: pointer;
}

code {
  padding: 0.2em 0.4em;
  background: #f8f8f8;
  border: 1px solid #ddd;
  line-height: 1;
  border-radius: 3px;
}

code.prettyprint {
  padding: 0; /* otherwise 1st line of multi-line code block is misaligned */
}

.btn {
  padding: 0.8em 1.2em;
  background: #5aadbb;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.btn:hover {
  background: #3398a9;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.05em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.SiteWrapper {
  overflow: hidden;
}

/* Page header and nav
========================================================================== */

.page-header .mobile-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 3em;
  background: #1f1f1f;
}

.page-header .container {
  position: relative;
}

/*
Logo
*/

.logo {
  position: absolute;
  top: 0.5em;
  left: 1.3em;
  /*right: 1.0em;
  width: 5.0em;*/
  margin: 0;
  padding: 0;
  line-height: normal;
}

.logo img {
  max-width: 180%;
}

.logot  {
  padding: 1em;
  color: #fff;
  text-decoration: none;
}

/*
Navigation
*/

.mobile-menu-toggle {
  display: block;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 3em;
  height: 3em;
}

.mobile-menu-toggle:active, .mobile-menu-toggle:focus {
  outline: none;
}

.open .mobile-menu-toggle {
  opacity: 0.5;
}

.page-header ul {
  margin: 0;
  padding: 0;
}

.main-menu {
  display: none;
  position: fixed;
  top: 48px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.open .main-menu {
  display: block;
}

.main-nav {
  font-size: 0.9em;
  background: #000;
}

.main-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px dotted rgba(255,255,255,0.2);
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

.main-nav a.active {
  color: #5aadbb;
  font-weight: 700;
}

.main-nav a:hover {
  background: rgba(255,255,255,0.1);
}

.main-nav a:active {
  background: rgba(255,255,255,0.17);
}

.main-nav > li > ul a {
  padding: .75em 1em .75em 2em;
}

.main-nav > li > ul a:before {
  content: ' - '
}


/* Jumbotron
========================================================================== */

.jumbotron {
  margin: 0 0 3em;
  padding-top: 4.3em;
  text-align: center;
  background: #785ef0;
}

.jumbotron h2 {
  margin: 0 1em;
  font-weight: 400;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.illustration {
  position: relative;
  top: 1.3em;
  max-width: 100%;
}

/* Content
========================================================================== */

#content {
  min-height: 100%;
}

.main {
  padding: 0 1.3em;
  font-size: 1em;
  line-height: 1.6;
}

.main .bigger-yo-character {
  max-width: 30%;
  display: block;
  margin: 0 auto;
}

.main img {
  max-width: 100%;
  height: auto;
}

.main a {
  color: #0096c7;
}

.main a:hover {
  text-decoration: none;
}

.main .pagination em {
  font-style: normal;
  cursor: default;
}

.main .pagination span {
  cursor: default;
}

.section-title {
  padding: 0.3em 0;
  border-bottom: 4px solid rgba(215,0,41,0.1);
}

.content-chunk {
  margin-bottom: 4em;
}

.content-chunk p:first-child {
  margin-top: 0;
}

/*
Excerpt
*/

.excerpt {
  margin: 1.8em 0;
  padding: 0 2em;
  font-size: 1.2em;
  color: #5aadbb;
  font-style: italic;

}

.excerpt a {
  color: #006080;
}

/*
Anchor Link Icon
*/

.content-chunk h1,
.content-chunk h2,
.content-chunk h3,
.content-chunk h4,
.content-chunk h5,
.content-chunk h6 {
  position: relative;
}

.content-chunk h1:hover,
.content-chunk h2:hover,
.content-chunk h3:hover,
.content-chunk h4:hover,
.content-chunk h5:hover,
.content-chunk h6:hover {
  color: #000;
  border-color: rgba(215,0,41,0.2);
}

.anchor {
  display: none;
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -18px;
  padding-right: 15px;
}

*:hover > .anchor {
  display: block;
}

/*
One Line Install
*/

.one-line-install {
  margin-bottom: 3em;
}

.one-line-install pre {
  padding: 0.5em 1em;
  background: #bfe6ed;
  border-radius: 0.35em;
}

/*
Basic Tools
*/

.basic-tools {
  margin: 0;
  padding: 0;
  list-style: none;
}

.basic-tools li {
  margin-bottom: 2em;
}

.basic-tools li:last-child {
  margin-bottom: 1em;
}

.basic-tools .tool-content {
  font-size: 0.9em;
}

.basic-tools .tool-logo {
  display: block;
  margin-bottom: 0.5em;
  padding: 1em;
  text-align: center;
  transition: all 0.3s ease;
}

.basic-tools .yo { background: rgba(240,240,240,1); }
.basic-tools .yo:hover { background: rgba(240,240,240,0.6);; }
.basic-tools .gulp { background: #ECF0F1 }
.basic-tools .gulp img { height: 123px; }
.basic-tools .gulp:hover { background: rgba(240,240,240,0.6);; }
.basic-tools .npm { background: rgb(42, 51, 60); }
.basic-tools .npm:hover { background: rgb(32, 39, 46); }

.basic-tools .tool-logo:active {
  box-shadow: inset 0 0 15px rgba(0,0,0,0.2);
}

.basic-tools .tool-logo img {
  max-width: 7em;
}

/*
Yeoman Team
*/

.team {
  margin: 0 0 1em;
  padding: 0;
  list-style: none;
}

.team a {
  display: block;
  padding: 0.5em 1.5em;
  border-bottom: 1px dotted rgba(0,0,0,0.2);
  text-decoration: none;
  transition: all 0.5s ease;
}

.team li:last-child a {
  border: none;
}

.team a:hover,
.team a:active {
  background: #bfe6ed;
  color: #207d8d;
  text-decoration: none;
}

.team img {
  max-width: 3em;
  margin-right: 1em;
  border-radius: 50%;
}

/* Inside Pages
========================================================================== */

.page-title {
  margin-top: 0;
  margin-bottom: 2em;
  padding: 4.6em 0 2em;
  background: #785ef0;
  font-size: 1em;
  line-height: 1em;
  color: #fff;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}

/*
Context/Local Nav
*/

.context-nav {
  padding: 0 1.2em;
}

.context-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.context-nav ul > li {
  display: none;
}

.context-nav.open ul > li {
  display: block;
}

.context-nav ul > li .active {
  position: relative;
}

.context-nav ul > li .active:after {
  top: 1.05em;
  right: 1em;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-top-color: #fff;
  border-width: 0.4em;
}

.context-nav.open ul > li .active:after {
  opacity: 0.4;
}

.context-nav a {
  display: block;
  cursor: pointer;
  padding: 0.5em 1em;
  border-bottom: 1px dotted rgba(0,0,0,0.2);
  text-decoration: none;
  color: #0096c7;
  transition: all 0.5s ease;
}

.context-nav a:hover,
.context-nav a:active {
  background: #bfe6ed;
  color: #207d8d;
  text-decoration: none;
}

.context-nav ul > li .active {
  color: #fff;
  background: #5aadbb;
  font-style: italic;
}

.context-nav.open ul > li .active,
.context-nav ul > li .active:hover {
  background: #228596;
}

.year_divider > ul {
  display: none;
}

.year_divider.open > ul {
  display: block;
}

.year_divider li a {
  padding-left: 1.5em;
}
.context-nav.navbar-fixed {
  position: fixed;
  top: 6em;
}

.context-nav.navbar-absolute {
  position: absolute;
  right: 0;
}

/* Google Code Prettify
========================================================================== */

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #fff; } /* punctuation - white */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

.highlight > pre,
code.prettyprint {
  font-size: 0.95em;
  background-color: #2e2e2e;
  border-radius: 0.35em;
}

.highlight > pre {
  padding: 1em;
  overflow: auto;
  word-wrap: normal;
}
.highlight > pre code {
  font-size: 1em;
  white-space: pre;
  background-color: transparent;
  border: none;
  border-right: none;
}

pre > code.language-sh:before {
  content: '$';
  margin-right: 5px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }

.contribute-doc {
  margin-top: 2em;
  padding: 0.5em 1em;
  font-size: 0.9em;
  border: 1px solid #ddd;
  background: #efefef;
  border-radius: 0.35em;
}

#search-notfound {
  display: none;
  font-size: 1.5em;
  padding: 20px;
  text-align: center;
}

/* Discovery Page */

#plugins-all > table {
  width: 100%;
}

.discovery-page th {
  cursor: pointer;
}

.discovery-page th.sort {
  text-align: left;
}

.discovery-page th.sort:before {
  content: '\21C5';
  display: inline-block;
  opacity: .4;
  font-size: 0.8em;
  margin-right: 3px;
}

.discovery-page th.sort.asc:before,
.discovery-page th.sort.desc:before {
  opacity: 1;
  margin-right: 7px;
}

.discovery-page th.sort.asc:before {
  content: '\2193';
  text-align: left;
}

.discovery-page th.sort.desc:before {
  content: '\2191';
  text-align: right;
}

.discovery-page td {
  padding: 10px 5px;
  border-top: 1px solid #ddd;
  position: relative;
  vertical-align: top;
}

.discovery-page tr.official td.generator-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -25px;
  transform: translateY(-50%);
  width: 20px;
  height: 7px;
  background: url(/assets/img/mustache.svg) no-repeat;
  opacity: 0.5;
}

.discovery-page td.generator-item a {
  text-decoration: none;
}

.discovery-page td.generator-item a:hover {
  text-decoration: underline;
}

.discovery-page .name-info .name{
  font-size: larger;
}

.discovery-page .name-author {
  font-size: small;
  margin-left: 20px;
}

.discovery-page .description{
  font-size: smaller;
}

.discovery-page td.metadata {
  font-size: smaller;
  text-align: right;
}

.discovery-page th.metadata {
  font-size: 0.9em;
  text-align: right;
  width: 85px;
}

.discovery-page th.last-updated {
  width: 125px;
}

.discovery-page input.search {
  width: 100%;
  line-height: 1.5em;
  margin: 20px 0;
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}

/* Blog */

.blog-post-preview {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.blog-post-preview .blog-post-title {
  margin: 1em 0 0.2em;
}

.blog-post-preview .blog-post-title a {
  color: #222;
  text-decoration: none;
}

.blog-post-preview .blog-post-date {
  margin: 0.2em 0 1em;
  font-size: 0.8em;
  color: #444;
  text-decoration: none;
}

.note {
  background: #f2dede;
  padding: 15px;
}

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: 700; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: 700; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: 700; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}

/* FAQ */

.faq-page a[name] {
  position: absolute;
  top: -3em;
}

@media only screen and (min-width: 60em) {
  .faq-page a[name] {
    top: -5em;
  }
}

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Image replacement
*/

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
* Hide from both screenreaders and browsers: h5bp.com/u
*/

.hidden {
  display: none !important;
  visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders: h5bp.com/v
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard: h5bp.com/p
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
  *zoom: 1;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 20em) {
  .logo a:before {
    display: block;
    top: -0.5em;
    left: -1.3em;
    position: absolute;
    width: 2.35em;
    height: 2.35em;
    content: "";
  }

  .logo img {
    margin-left: 1.2em;
  }

  .page-title {
    margin-bottom: 1.7em;
  }

  .blog-post-meta .date {
    float: left;
  }

  .blog-post-meta .social {
    float: right;
  }
}


@media only screen and (min-width: 28em) {
  .jumbotron {
    padding-top: 5em;
  }

  .jumbotron h2 {
    font-size: 1.4em;
    margin-bottom: 0.5em;
  }

  .page-title {
    margin-bottom: 1.4em;
    padding: 3.5em 0 1.7em;
    font-size: 1.5em;
  }

  .main {
    font-size: 1.2em;
  }

  .basic-tools li {
    overflow: hidden;
  }

  .basic-tools .tool-logo {
    float: left;
    width: 42%;
    padding: 14px;
    margin: 0 3% 0 0;
    box-sizing: border-box;
  }

  .basic-tools .tool-content {
    display: block;
    float: left;
    width: 50%;
  }

  .team img {
    max-width: 5em;
  }
}

@media only screen and (min-width: 35em) {
  .jumbotron h2 {
    font-size: 1.6em;
  }

  .illustration {
    top: 1.5em;
  }

  .page-title {
    margin-bottom: 1.2em;
    padding: 2.3em 0 1em;
    font-size: 2em;
  }

  .main {
    font-size: 1.3em;
  }

  .team {
    overflow: hidden;
  }

  .team li {
    display: inline-block;
    width: 32%;
    margin-right: 2%;
    margin-bottom: 2em;
    font-size: 0.8em;
  }

  .team li:nth-child(3n) {
    margin-right: 0;
  }

  .team a {
    padding: 0;
    border: none;
  }

  .team a:hover {
    background: none;
  }

  .team img {
    float: none;
    width: 100%;
    max-width: 100%;
    border-radius: 0;
  }

  .context-nav {
    max-width: 25em;
  }
}

/* Menu gets to be displayed */
@media only screen and (min-width: 46em) {
  .main-menu {
    position: relative;
    z-index: 13;
    top: 0;
    display: block;
    float: right;
    overflow: visible;
  }

  .page-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1f1f1f;
    z-index: 12;
  }

  .mobile-bar {
    position: static;
  }

  .mobile-menu-toggle {
    display: none;
  }

  .main-nav > li {
    position: relative;
    float: left;
    vertical-align: bottom;
  }

  .main-nav > li:hover {
    background: rgba(255,255,255,0.1);
    transition: all 0.8s ease;
  }

  .main-nav a {
    border: none;
    padding: 1em 0.70em;
  }

  .main-nav > li > ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 100%;
    background: #000;
  }

  .main-nav > li:last-child > ul {
    left: auto;
    right: 0;
  }

  .main-nav > li:hover > ul {
    display: block;
  }

  .main-nav > li > ul a {
    padding: 13px 20px;
    white-space: nowrap;
    border-left: 10px solid rgba(221,0,42,0);
    transition: all 0.3s ease;
  }

  .main-nav > li > ul a:hover {
    border-left-color: rgba(221,0,42,1);
  }

  .main-nav > li > ul a:before {
    content: '';
  }

  .jumbotron h2 {
    font-size: 2em;
    line-height: 1.2em;
  }

  .page-title {
    margin-bottom: 1.5em;
    padding: 0;
    text-align: left;
    font-size: 2.4em;
  }

  .page-title .container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.5em 5em 1.6em 0.6em;
    background: #785ef0  97% 70% no-repeat;
    background-size: 4em auto;
    box-sizing: border-box;
  }

  .team li {
    width: 23.5%;
    margin-right: 2%;
  }

  .team li:nth-child(3n) {
   margin-right: 2%;
  }

  .team li:nth-child(4n) {
   margin-right: 0;
  }
}

@media only screen and (min-width: 50em) {
  .main-nav a {
    padding: 1em;
  }

  .jumbotron {
    margin-bottom: 4em;
  }

  .illustration {
    top: 2em;
  }

  .main {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 55em) {
  .jumbotron {
    padding-top: 6em;
  }

  .jumbotron h2 {
    font-size: 2.6em;
  }

  .one-line-install {
    padding: 2em 2em 1em;
    vertical-align: top;
    border: 1px dashed #ccc;
    background: #eee;
    /* Columns */
    column-count: 1;
    column-gap: 3em;
  }

  .one-line-install p:first-child {
    margin-top: 0;
  }

  .one-line-install pre {
    background: #b2d7dd;
  }

  .main {
    font-size: 1.1em;
    padding: 1em 2em 1em 1.3em;
  }

  .main-container .main {
    padding-top: 0;
  }
}

@media only screen and (min-width: 60em) {
  .container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

  .has-sidebar {
    padding-right: 20em;
    box-sizing: border-box;
  }

  .main-menu {
    height: 5em;
  }

  .logo {
    left: 1.3em;
    top: 0.2em;
    width: 5.0em;
  }

  .logo a:before {
    top: -1em;
    left: 0;
    width: 3.5em;
    height: 4.0em;
  }

  .logo img {
    margin-left: 0.2em;
  }

  .page-header nav {
    top: 0;
  }

  .main-nav > li > a {
    padding: 2.1em 1.4em;
  }

  .main-nav > li > ul {
    top: 100%;
    min-width: 200px;
  }

  .jumbotron {
    position: relative;
    padding-top: 8em;
  }

  .jumbotron h2 {
    float: left;
    width: 55%;
    margin: 0 0 0 5%;
    text-align: left;
    font-size: 3em;
  }

  .illustration {
    float: right;
    width: 18%;
    margin-right: 2%;
    margin-left: 2.0em;
    margin-bottom: 8.0em;
  }

  .page-title {
    margin-bottom: 0.7em;
  }

  .page-title .container {
    padding-top: 3.4em;
    background-position: 97% 78%;
    background-size: 5em auto;
  }

  .main {
    line-height: 1.6;
  }

  .context-nav {
    position: absolute;
    top: 1.3em;
    right: 0;
    width: 17em;
    margin: 0;
    padding: 0;
  }

  .context-nav ul > li {
    display: block;
  }

  .context-nav ul > li .active:after {
    display: none;
  }

  .basic-tools li {
    float: left;
    width: 31%;
    margin-right: 2%;
    margin-bottom: 0;
    line-height: 1.5em;
  }

  .basic-tools .tool-logo,
  .basic-tools .tool-content {
    float: none;
    width: 100%;
    margin: 0 0 1em;
  }

  .section-tools {
    float: left;
    width: 63%;
  }

  .section-team {
    float: right;
    width: 30%;
  }

  .basic-tools li {
    width: 28%;
    margin-right: 4%;
  }

  .team a {
    display: block;
    padding: 0.5em 1.5em;
    border-bottom: 1px dotted rgba(0,0,0,0.2);
    text-decoration: none;
  }

  .team li {
    float: none;
    width: 100%;
    margin: 0;
  }

  .team li:nth-child(3n),
  .team li:nth-child(4n) {
    margin: 0; /* its actually better to keep this separately from selector above, so we don't break some legacy browsers */
  }

  .team li:last-child a {
    border: none;
  }

  .team a:hover,
  .team a:active {
    background: #bfe6ed;
    color: #207d8d;
    text-decoration: none;
  }

  .team img {
    max-width: 5em;
    margin-right: 1em;
    border-radius: 50%;
  }
}

@media only screen and (min-width: 65em) {
  .main-nav > li > a {
    padding: 2.1em 2em;
  }
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links for images, or javascript/internal links
  */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
Blockchain project added styles.
Button,
========================================================================== */


.click-button--light {
 display: inline-block;
 padding: 0.8em 1.0em;
 margin-right:1.3em;
 margin-bottom: 6.5em;
 border-radius: 0px;
/*  background: #5aadbb ; changed fg from sky blue to subtle grey/green below
 background: #a3babf ;  light grey */
 background:  #fe8500 ; /* light green */
 color: #fff;
}

.click-button--light:active,
.click-button--light:hover,
.click-button--light:focus {
 /* background: #a9dd4f ; changed hover/active frm rich blue to lighter green */
 background: #ad6418 ; /* changed hover/active frm rich blue to dark green */
}

.youtubeplayer
{
    border-radius: 3px;
    background-image: url("./assets/img/video-bg-overlay.png") center no-repeat;
    z-index:-1;
}




/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 150px;
	height: 150px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap
display: flex;
justify-content: center; 
align-items: center;

*/
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
  text-align: center;

  color: #fff;

}

.front {
  background: #302560;
  font-weight: bold;
}
.back {
  background: #785ef0;
}
/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
