@import '../../../assets/styles/base/_colors.scss';
@import '../../../assets/styles/base/_variables.scss';

.replace {

  .modal-header {
    & > svg  {
      fill: $error-colour-1
    }
  }

  .information {
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      margin-left: $space-large;
  }

  .items {

     .item{
        margin-left: $space-medium;
     }
  }

}
