@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

registry {

  $highlighted : #e4e4e4;

  .resource-header{
    min-height: 50px;
    display: flex;
    color:$secondary-text;
  }

  .resource-header-left{
    flex:1;
    align-self: center;
  }

  button.registry {
    background-color: $white;
    border-color: $white;
    box-shadow: 0 2px 5px -1px $fifth-highlight;

    &:hover {
      background-color: $highlighted;
      border-color: $highlighted;
    }

    &[disabled], &[disabled]:hover {
      background-color:$highlighted;
      border-color: $highlighted;
    }
  }

  .resource-list {
    margin: $space-large 0;

    .id {
      width: 25%
    }

    .data {
      width: 75%
    }

    .title {
      display: flex;
      padding: 0 $space-medium;

      &.resource-empty {
        border-bottom: 1px solid $fifth-highlight;
      }
    }

    .resource-container {
      background-color: $white;
      margin: $space-smedium 0;
      padding: $space-medium;
      position: relative;
      box-shadow: 0 2px 5px -1px $fifth-highlight;

      .resource-content {
        display: flex;

        .resource-icon {
          align-self: flex-end;
        }

        &.expanded {
          pre {
            max-height: 600px;
            overflow: hidden;

            @include transition(all);
          }

          padding-bottom: $space-large;
        }

        pre {
          margin: 0;
          margin-top: $space-small;
          max-height: 100px;
          overflow: hidden;

          @include transition(all);

          &.gradient {
            @include gradient-text('linear-gradient(to top, #f3f3f3 0%,#19273c 30%)');
          }

          //needed so you don't see the background change when gradient isn't needed
          &.tiny-gradient {
            @include gradient-text('linear-gradient(to top, #f3f3f3 0%,#19273c 1%)');
          }
        }
      }

      button.expand {
        position: absolute;
        left: 40%;
        bottom: 5%;
      }
    }

    .no-resources {
      width: 50%;
      margin: 0 auto;
      text-align: center;

      svg {
        width: 190px;
        height: 220px;
      }
    }
  }
}
