@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

app-settings {
  display: flex;
  width: 100%;

  .side-bar {
    .connection-profiles {
      & > * {
        padding: $space-medium $space-large;
      }
      margin-top: $space-large;

      span {
        color: $secondary-text;
      }

      .side-bar-nav {
        padding: 0;
      }
    }

    .info {
      padding: $space-medium $space-large;
    }
  }
}
