@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

.test {
  display: flex;
  padding: $space-medium;

  .side-bar-nav {
    margin-right: $space-large;

    h2 {
      margin-bottom: $space-smedium;
    }

    section {
      margin-bottom: $space-medium;
    }
  }


}
