@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

app-login {
    width: 100vw;
    background-color: $fourth-highlight;

    section.header {
        display: flex;
        padding: $space-large $space-large $space-medium $space-large;
        align-items: center;

        h1.left-align {
            flex: 1;
        }

        div.right-align {
            margin-right: $space-medium;
        }
    }

    section.main-view {
        overflow-y: auto;
        height: calc(100vh - 63px - 96px - 55px);
        padding: $space-medium $space-large;

        div.connection-profile:first-child {
            margin-top: 0;
        }

        div.connection-profile {
            margin-top: $space-large;
            padding-left: $space-large;

            .identities {
                display: flex;
                flex-wrap: wrap;
                margin-top: $space-large;

                .connection-profile-card {
                    width: 275px;
                    min-height: 325px;
                    color: $fifth-highlight;
                    background-color: $fourth-highlight;
                }

                button.connection-profile-card {
                    border: 1px dashed $fifth-highlight;
                    border-radius: 5px;
                
                    &:hover, &:focus {
                        background-color: rgba(255,255,255,0.30);
                    }
                }

                .card-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    a {
                        color: $secondary-text;
                        text-decoration: none;

                        &:hover, &:focus {
                            text-decoration: underline;
                            outline: none;
                        }
                    }

                    p {
                        text-align: center;
                    }

                    svg {
                        fill: $fifth-highlight;
                        width: 60px;
                        height: 55px;
                    }
                }

                identity-card, .connection-profile-card {
                    margin-left: $space-large;
                    margin-bottom: $space-large;
                }
            }
        }
    }

    section.sub-view {
        padding: $space-large;
        height: calc(100vh - 63px - 55px);
        overflow-y: auto;

        .header {
            button {
                .rotate {
                    transform: rotate(-180deg);
                }

                span {
                    margin-left: $space-smedium
                }
            }
        }
    }

    section.edit-connection-profile {
        padding: $space-large;
        height: calc(100vh - 63px);
        overflow-y: auto;

        .header {
            button {
                .rotate {
                    transform: rotate(-180deg);
                }

                span {
                    margin-left: $space-smedium
                }
            }
        }
    }
}


