@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

app-login {
    width: 100vw;
    background-color: $fourth-highlight;

    section.header {
        padding: $space-large $space-large $space-medium $space-large;
    }

    section.main-view {
        overflow-y: auto;
        height: calc(100vh - 63px - 70px);
        padding: $space-medium $space-large;

    div.connection-profile:first-child {
        margin-top: 0;
    }

    div.connection-profile {
        margin-top: $space-large;

        .connection-profile-buttons {
            display: inline-block;
            margin-left: $space-medium;
        }

        .identities {
            display: flex;
            flex-wrap: wrap;

            .identity {
                background-color: $white;
                padding: $space-large 0 $space-smedium 0;
                box-shadow: 3px 6px 15px 0 rgba(0, 0, 0, 0.20);
                margin-left: $space-large;
                margin-bottom: $space-large;
                width: 275px;

                .top-section {

                    padding: 0 $space-large;

                    & > * {
                        margin-top: $space-medium;
                    }

                    .userId-image {
                        background-color: $keyline-highlight;
                        border: 1px solid $keyline-highlight;
                        border-radius: 50%;
                        width: 75px;
                        height: 75px;
                        margin: 0 auto;
                        position: relative;

                        span {
                            position: absolute;
                            top: 26px;
                            right: 26px;
                            color: $second-highlight;
                            text-transform: uppercase;
                        }
                    }

                    .userId {
                        text-align: center;
                    }

                    .action-buttons {
                        display: flex;
                        justify-content: center;

                        button:first-child {
                            margin-right: $space-large;
                        }

                        svg {
                            fill: $second-highlight;
                        }
                    }
                }

                .bottom-section {

                    & > * {
                        padding: 0 $space-large;
                        text-align: center;
                    }

                    .business-network {
                        border-top: 1px solid $fourth-highlight;
                        text-align: center;
                        color: $secondary-text;
                        font-size: x-small;
                        padding-top: $space-medium;
                    }

                    .connect {
                        margin-top: $space-medium;
                        border-top: 1px solid $fourth-highlight;
                        text-align: center;
                        padding-top: $space-small;

                        button {
                            span {
                                color: $second-highlight;
                                margin-right: $space-smedium;
                            }
                            svg {
                                fill: $second-highlight;
                            }
                        }
                    }
                }
            }
        }

    }
    }

    section.edit-connection-profile {
        padding: $space-large ;
        height: calc(100vh - 63px);
        overflow-y: auto;

        .header {
            button {
                .rotate {
                    transform: rotate(-180deg);
                }

                span {
                    margin-left: $space-smedium
                }
            }
        }
    }
}


