@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

connection-profile-data {

  $highlighted : #e4e4e4;

  .profile-header{
    display: flex;
    color:$secondary-text;
  }

  .profile-header-name{
    flex:1;
    align-self: center;
  }

  .profile-header-description{
    flex:1;
    align-self: center;
  }

  .profile-data-container{
    display:flex;
    flex-flow: column;
  }

  .profile-data-header{
    flex:1;
    display:flex;
    flex-flow: column;
    color:$first-highlight;

  }
  .profile-row{
    flex:2;
    display:flex;
    flex-flow: row;
    color:$primary-text;
  }
  .profile-property{
    flex-basis:20%;
    padding-right: $space-large;
    font-weight: bold;
  }
  .profile-value{
    flex:1;
  }

}
