.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 32px;
  line-height: 32px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}

app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.CodeMirror {
  border: 1px solid darkgray;
  font-size: 14px;
}
