@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

connection-profile {
  display: flex;
  width: 100%;
  height: 100vh;

  .side-bar {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    box-shadow: 5px 0 5px -5px #333;

    .profiles {
      & > * {
        padding: $space-medium $space-large;
      }
      margin-top: $space-large;

      span {
        color: $secondary-text;
      }

      .side-bar-nav {
        padding: 0;
      }

    }

    .about {
      padding: $space-medium $space-large;
    }


    .contact {
      padding: $space-medium $space-large;
    }
  }

  .main-view {
    background-color: $fourth-highlight;
    width: 75%;
    padding: $space-large $space-large $space-medium $space-large;

    .business-network-details {
      display: flex;

      .business-network-version {
        margin-right: $space-smedium;
        color: $secondary-text;
      }
      .margin-right {
        margin-right: $space-smedium;
      }
      .edit-package-text {
        font-style: italic;
      }
    }
  }

  .playground-profile-warning{
    background-color:$white;
    border: 1px solid $fourth-highlight;
    border-radius: 0.25em;
    padding: $space-medium;
    margin-bottom: $space-large;

  }

  .current-profile{

  }

}
