@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

app-footer {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px $space-large;

    .footer-main{
        position: relative;
        bottom: 0;
        flex: 1;
        padding: 20px 10px 20px 10px;
        border-top: solid 1px #D0DADA;
        color: $secondary-text ;
        font-size: 12px;
        display: flex;
        height: 55px;

        .footer-left, .footer-right{
            flex:1;
            display:flex;

            .footer-item{
                flex-shrink: 1;
                padding-right:30px;
                a {
                    color: $secondary-text;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .footer-right {
            justify-content: flex-end;
        }
    }
}
