@import '../../../assets/styles/base/colors';
@import '../../../assets/styles/base/variables';

resource-modal {
    .resource-container {
        position: relative;
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 450px;
    }

    .resource-component {
        .resource-preview-text {
            color: $secondary-text;
        }

        .resource-error-text {
            min-height: 30px;
            color: $error-colour-1;
            max-width: 625px;
            margin: 0 auto;
            word-wrap: break-word;
        }

        .optional {
            margin-top: $space-medium;
        }

    }

    footer {
        justify-content: flex-start;

        .footer-text {
            flex: 1;
        }
    }

    .CodeMirror {
        font-family: Source Code Pro

    }

    .CodeMirror, .CodeMirror-scroll {
        min-height: 300px;
        max-height: 300px;
        // needed to get rid of the duplicate scroll bars, not sure why this works????
        min-width: 630px;
        max-width: 650px;
    }
}
