@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

identity-issued-modal {
  .identity-issued {
    dt, dd {
      display: inline;
      margin: 0;
    }

    .modal-body {
      margin-left: 5rem;
    }

    .id-option {
      margin-bottom: 1.3rem;

      header {
        display: flex;
        color: $primary-text;

        dl {
          dt {
            position: absolute;
            left: -4rem;
            font-weight: 700;
          }
        }
      }

      .id-option-details {
        dl {
          div {
            display: flex;
            margin-bottom: 1.3em;

            &.id-secret {
              font-weight: 700;
            }

            dt {
              flex: 1;
            }

            dd {
              flex: 5;
            }
          }
        }
      }
    }

    footer {
      svg {
        fill: $error-colour-1;
        vertical-align: text-top;
      }

      p.footer-text {
        flex: 1;
      }
    }
  }
}
