@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

busy {
    .contents {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span + span {
            margin-left: $space-xsmall;
        }

        .busy-text {
            font-size: 14px;
        }
    }

}
