@import '../../assets/styles/base/_colors.scss';
@import '../../assets/styles/base/_variables.scss';

.delete-connection-profile {
  width: 660px;
  height: 200px;

  display: flex;
  flex-direction: column;

  .modal-header {
    svg {
      fill: $error-colour-1
    }
  }

  section {
    font-size: 0.9em;

    span {
      color: $secondary-text;
    }

  }
}

