$primary-text: #19273C;
$secondary-text: #8C9696;
$tertiary-text: #3f55af;
$first-highlight: #3F55AF;
$second-highlight: #5068C2;
$third-highlight: #F9F9F9;
$fourth-highlight: #F1F3F7;
$fifth-highlight: #B8C1C1;
$sixth-highlight: #2D3D7D;
$error-colour-1: #FF5C49;
$error-colour-2: #F7E6E6;
$success-colour: #40d5bb;
$keyline-highlight: #E3ECEC;
$first-warning: #E62325;
$second-warning: #AA231F;
$white: #FDFDFD;
$white-2: #ffffff;
$black: #000000;

