// Core
body.composer {
  margin: 0;
  font-family: $font-stack;
  color: $primary-text;
  background-color: $white;
}

.composer * {
  box-sizing: border-box;
}

.composer {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .main-container {
    display: flex;
    width: 100%;
    overflow-y: auto;
  }

  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .display-inline {
    display: inline-block;
    vertical-align: top;
  }

  .align-top {
    vertical-align: top;
  }

  .align-middle {
    vertical-align: middle;
  }

  .no-animation {
    transition-duration: 0s;
  }

  .rotate-180 {
    transform: rotate(180deg);
  }
}
