// Extends
%input {
  background-color: $third-highlight;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid transparent;
  padding: .3em .8em .2em .8em;
  font-size: 0.9rem;
  box-shadow: none;
  color: $primary-text;
  outline: none;
  height: 2.5rem;
  font-family: $font-stack;

  &.ng-dirty.invalid {
    border-bottom: 1px solid $error-colour-1;
  }

  &:focus {
    border-bottom: 2px solid $first-highlight;
  }
}
