svg.ibm-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: $primary-text;
}

svg.nav-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: $white;
}

svg.standard-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: $primary-text;
}

svg.large-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: $primary-text;
}

svg.splash-icon {
  display: inline-block;
  width: 200px;
  height: 200px;
  fill: $primary-text;
}

svg.blue-icon{
  fill: $second-highlight;
}
