// Layout
.composer {
  .flex-container {
    display : flex;
  }

  .flex {
    flex: 1;
  }

  .flex2 {
    flex: 2;
  }

  .full-width {
    width: 100%;
  }

  .margin-right {
    margin-right: $space-smedium;
  }
}
