// Typography
//TODO: check font sizes in ems
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Source+Code+Pro');

.composer {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;

  h1, h2, h3 {
    line-height: 100%;
    margin: 0;
    letter-spacing: 0;
    color: $primary-text;
  }
  h1 {
    font-family: $font-stack;
    font-size: 1.25em; //should be 20px
    font-weight: 300;
    line-height: 48px;
  }
  h2 {
    font-family: $font-stack;
    font-size: 1.15em; //should be 18px
    font-weight: 300;
  }
  h3 {
    font-family: $font-stack;
    font-size: 0.9rem;
    font-weight: 600;
  }

  p, dl {
    font-family: $font-stack;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0;
    //TODO: check this
    margin-bottom: 1.3em;
  }

  i {
    font-family: $font-stack;
    font-style: italic;
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0;
  }

  small {
    font-size: 0.8em;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .error-text {
    color: $error-colour-1;
  }

  label {
    font-size: .8em;
    color: $primary-text;
  }

  header {
    p {
      color: $white;
      margin: 0;
    }
  }

  .side-bar {
    .files, .registries, .profiles {
      span {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.8rem;
      letter-spacing: 0.5px;
      margin-top: 1.5rem;
    }
    }
    li {
      h3 {
        font-style: normal;
      }
      div {
        font-style: italic;
        font-size: 0.9rem;
      }
    }

  }
}

//Readme text styling

.readme {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);
  border-radius: 5px;
  max-height: 75vh;

  p {
      margin-top: 1.3rem;
    }

    h1 {
      font-weight: 300;
      font-size: 1.5em;
    }

    h2 {
      margin-top: 3rem;
    }

    h3 {
      font-family: $font-stack;
      font-weight: 300;
      font-size: 1rem;
      line-height: 130%;
      color: $primary-text;
      margin-top: 2rem;
    }

    h4 {
      font-family: $font-stack;
      font-weight: 600;
      font-size: 0.9rem;
    }

    pre {
      background-color: $third-highlight;
      border: 1px solid $keyline-highlight;
      padding: 1rem;
      border-radius: 5px;
      // -webkit-font-smoothing: antialiased;
    }

    code {
      font-family: $svg-font;
      font-size: 0.8rem;
    }

    blockquote {
      // background-color: $third-highlight;
      // border: 1px solid $primary-text;
      border-left: 2px solid $first-highlight;
      padding-left: 1rem;
      padding-top: 0.1rem;
      padding-bottom: 0.1rem;
      margin: 1rem;
      margin-left: 0;

      p {
        font-style: italic;
      }

    }

    ul {
      list-style: none;
      padding-left: 2em;
      text-indent: -1em;

      li:before {
        color: $primary-text;
        content: '- \0000a0';
        font-size: 1rem;
        font-weight: 600;
      }

      li {
        padding-bottom: 0.5rem;
        p {
          display: inline;
        }

      }
    }

    ol {
      border-left: 1px solid $keyline-highlight;
      li {
          margin-top: 1.3rem;
      }
    }

  a {
    color: $first-highlight;
  }
}

//Notifications
.composer {

  .notification-title {
    font-weight: 300;
  }
    .notification-text {
      font-size: 0.8rem;
      margin-top: 0.5rem;

      b {
        font-family: $font-stack;
        font-size: 0.9rem;
        font-weight: 600;
      }
    }
}
