// Variables

// Images
$composer-images-path: "../img" !default;

// Typography
$font-stack: 'Open Sans', 'Helvetica Neue for IBM', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$display-font: 'Open Sans';
$svg-font: 'Source Code Pro';

// Border width
$border-width-large: 8px;
$border-width-medium: 4px;
$border-width-small: 1px;

// Spacing
$space-xsmall: 2px;
$space-small: 4px;
$space-smedium: 8px;
$space-medium: 16px;
$space-large: 32px;
$space-xlarge: 64px;

// Animation
@mixin transition($properties...) {
  transition-property: $properties;
  transition-duration: .5s;
  transition-timing-function: ease;
}

$cubic-bezier: .3s cubic-bezier(.5, .8, 0, 1);
