.composer {
  drawer {
    .drawer-content {
      header.drawer-header {
        margin: $space-xlarge 0 $space-large 0;
        padding: 0 $space-large 0 $space-large;

        h1 {
          margin-bottom: 1.3em;
        }

        p {
          color: $primary-text;
        }

        .modal-exit {
          position: absolute;
          top: 0px;
          right: $space-smedium;
          color: $primary-text;
        }
      }

      footer.drawer-footer {
        margin: $space-large 0 $space-large 0;
        background-color: $white;
        padding: 0 $space-large 0 $space-large;
      }
    }
  }
}
