.composer {
  .side-bar-nav {
      li {

        padding: $space-smedium $space-large;
        border-left: $space-small solid transparent;

        &.active {
          background-color: $third-highlight;
          border-left: $space-small solid $first-highlight;
        }

        &:hover {
          border-left: $space-small solid $second-highlight;
        }

        div {
          padding: $space-small 0 $space-small 0;
        }
      }
  }
}
