.composer {
  .side-bar {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    // background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);

    .side-bar-nav {
      li {

        padding: $space-medium $space-large;
        border-left: $space-small solid transparent;
        border-bottom: 1px solid $fourth-highlight;

        &.active {
          background-color: $third-highlight;
          border-left: $space-small solid $first-highlight;
          background-color: $third-highlight;
        }

        &:hover {
          border-left: $space-small solid $second-highlight;
        }

        div {
          padding: $space-small 0 $space-small 0;
        }

      }
    }
  }

  .main-view {
    background-color: $fourth-highlight;
    width: 80%;
    padding: $space-large $space-large $space-medium $space-large;
    z-index: -100;
  }
}
