::selection {
  background: #b3d4fc;
  text-shadow: none;
}

html {
  background: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  color: #fff;
}

body {
  background: #000;
  color: #fff;
}

a {
  color: #0096c7;
}

a:hover {
  text-decoration: none;
}

.container {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em;
}

h1 {
  margin: 0 0 1em;
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  line-height: 1.2em;
}

p {
  margin: 1em 0;
}

ul {
  padding: 0 0 0 2em;
  margin: 1em 0;
}

.yeoman {
  display: block;
  max-width: 80%;
  margin: 0 auto 1em;
}

@media only screen and (min-width: 50em) {
  .yeoman {
    float: left;
    width: 45%;
    max-width: 429px;
  }

  .info {
    float: left;
    width: 55%;
    padding-top: 10em;
  }

  h1 {
    font-size: 2.5em;
  }
}

@media only screen and (min-width: 60em) {
  h1 {
    font-size: 3em;
  }
}
