@import '../../../assets/styles/base/colors';
@import '../../../assets/styles/base/variables';
@import '../create-identity-card/create-identity-card.component';

.edit-card-credentials {

    // Take main styling from create
    @extend .create-card;

    .profiles {
        .create-route {
            margin-right: $space-xlarge;
            margin-bottom: $space-mlarge;
            border-bottom: $border-width-small solid $fourth-highlight;
        }
    }

    .noCerts {
        display: flex;
        flex-direction: column;
        margin-bottom: $space-large;
        margin-right: $space-xlarge;

        .option {
            display: flex;
            flex-direction: row;
            align-content: center;
            margin-top: $space-medium;
        }

        p {
            color: $primary-text;
            line-height: 19px;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 300;
        }
    }

    .key-field {
        label {
            align-self: auto;
            display: flex;
            flex-direction: column;
        }
    }

    label {
        display: flex;
        align-self: center;
        min-width: 10rem;
    }

    input[type='text'], input[type='password'] {
        display: flex;
        align-self: center;
        color: $primary-text;
        margin-bottom: 0;
    }

    .roles {
        margin-bottom: $space-large;

        p {
            color: $primary-text;
            margin-top: 0;
            margin-bottom: 0;
            font-weight: 300;
        }

        .role-list {
            display: flex;
            flex-wrap: wrap;
            margin-top: $space-large;
            position: relative;

            .description {
                margin-left: $space-large;
            }

            .option {
                margin-bottom: $space-large;
            }
        }
    }

    footer {
        .circle-path {
            stroke: $white;
        }

        width: 100%;
    }
}
