@import '../../../assets/styles/base/colors';
@import '../../../assets/styles/base/variables';

switch-identity-modal {
  .switch-identity {
    width : 775px;

    form.wallet-view {
      padding-right: 0;
    }

    p {
      color: $secondary-text;
    }

    .views {
      background-color: $third-highlight;
      margin-bottom: $space-medium;
    }

    .identity-list-container {
      max-height: 200px;
      overflow-y: auto;
      margin-top: $space-medium;
    }

    .identity-list {
      background-color: $third-highlight;
      padding: $space-medium;
      &:nth-child(even) {
        background-color: $white;
      }

      label.radio-label {
        font-weight: bold;

        &::before {
          top: 2px;
        }

        &::after {
          top: 7px;
        }
      }
    }

    footer {
      .circle-path {
        stroke: $white;
      }

      width: 100%;
    }
  }
}
